.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.text1 {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.tPos1 {
  position: relative;
  bottom: 35px;
  right: 60px;
}

html {
  background-color: #3450a1;
}

label {
  color: white;
}

.taskCount {
  font-size: 11px;
  font-weight: bold;
  color: #7284ba;
  font-family: "Montserrat", sans-serif;
  margin-left: 10px;
  margin-top: 20px;
}

.taskLabel {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 5px;
}

.noStrike {
  margin-left: "20px";
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.listContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #041955;
  min-height: 50px;
  border-radius: 20px;
  margin-top: 6px;
  margin-right: 12px;
  margin-left: 12px;
}

.strikethrough {
  margin-left: "20px";
  text-decoration: line-through;
}

.section {
  min-width: 160px;
  min-height: 100px;
  appearance: none;
  border-style: hidden;
  border-radius: 22px;
  background-color: #041955;
  box-shadow: 0px 5px 8px #0f2767;
}

.add {
  position: fixed;
  bottom: 12px;
  right: 12px;
  background-color: #eb06ff;
}

.addTask-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.addTask-container > form {
  align-items: center;
  background-color: #041955;
  width: 80%;
  max-width: 300px;
  min-height: 40vh;
  border-radius: 20px;
}

.addTask-container > form > input {
  position: relative;
  bottom: 35px;
  height: 30px;
  width: 190px;
  padding: 6px;
  border: solid 2px #dd07f5;
}

.addTaskBtn {
  background-color: #237bff;
  height: 30px;
  width: 190px;
  border-style: none;
  border-radius: 20px;
  margin-top: 35px;
}

.cancelTaskBtn {
  background-color: #dd07f5;
  height: 30px;
  width: 190px;
  border-style: none;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 30px;
}

input[type="text"] {
  border-style: none;
  border-radius: 20px;
  color: white; /* Change the text color to red */
  background-color: #325ac7; /* Change the background color to yellow */
  display: inline-block;
}
