.App {
  font-family: sans-serif;
  text-align: center;
}

html {
  background-color: #3450a1;
}

label {
  color: white;
}

.noStrike {
  margin-left: "20px";
}

.listContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #041955;
  min-height: 50px;
  border-radius: 20px;
  margin-top: 6px;
  margin-right: 12px;
  margin-left: 12px;
}

.strikethrough {
  margin-left: "20px";
  text-decoration: line-through;
}

.add {
  background-color: #eb06ff;
}
